<div class="screen-filling-table">
    <div class="table-wrapper">
        <table class="fixed-cell-table">
            <!-- Corner cell + Venues as Column Headers -->
            <thead>
                <tr>
                    <th class="corner-header"></th>
                    @for (venue of venues; track venue) {
                        <th class="column-header">
                            {{venue}}
                        </th>
                    }
                </tr>
            </thead>
            
            <tbody>
                <!-- Times as Row Headers with venue data -->
                @for (time of times; track time) {
                    <tr>
                        <th class="row-header">
                            {{time | date:'H:mm'}}
                        </th>
                        @for (venue of venues; track venue) {
                            <td class="cell">
                                <!-- You can bind specific data here -->
                                <!-- {{getCellData(venue, time)}} -->
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>